<div class="row">
    <div class="col-lg-1"></div>
    <h1><u>Educacion</u></h1>
    <div class="col-lg-5">
        <ul>
            <li>
                <h2>Primaria</h2>
                <h4>(2008-2014)</h4>
                <img src="../../../assets/logo pompeya.png" alt="">
                <p>EL nivel primario lo realize en el Instituto Nuestra Señora de Pompeya</p>
            </li>
        </ul>
        <ul>
            <li>
                <h2>Secundaria</h2>
                <h4>(2015-2020)</h4>
                <img src="../../../assets/logo-Misericordia.png" alt="">
                <p>EL nivel seundario lo realize en el Instituto Nuestra Señora de la Misericordia</p>
            </li>
        </ul>
        <ul>
            <li>
                <h2>Terciario</h2>
                <h4>(2022-Actualemte)</h4>
                <img src="../../../assets/UTN_logo.jpg" alt="">
                <p>Me encuentro hoy en dia cursando la tecnicatura superior en Programación en la utn San Nicolas </p>
            </li>
        </ul>
        <ul>
            <li>
                <h2>Cursos</h2><h4>(2022)</h4>
                <img src="../../../assets/animate a programar.png" alt="">
                <p>Realize el curso animate a programar, que se trataba de una introduccion a html,css y un poco de java script, en el cual consegui terminar el curso y conseguir el diploma.</p>
                
            </li>
        </ul>
    </div>
</div>